<div class="nav has-shadow">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item">Cultivating Antifragility</a>          
      </div>  

      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav-right nav-menu">          
        <a routerLink="/" class="nav-item r-item">Home</a>
        <a routerLink="faq" class="nav-item r-item">FAQ</a>                

        <div class="nav-item">
          <p class="control">
            <a class="button is-primary is-outlined">
              <span class="icon">
                <i class="fa fa-envelope"></i>
              </span>
              <span>Contact Me</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>

FOOTER