<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Cultivating Antifragility</h1>
        <div class="is-two-thirds column is-paddingless">
          <h2 class="subtitle is-4">I think vue is actually the easiest</h2>
        </div>
        <a class="button is-large is-primary" id="learn">Contact Me</a>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns pd is-desktop">
        <div class="column is-1 has-text-centered">
          <i class="fa fa-cog is-primary"></i>
        </div>
         <div class="column is-one-third-desktop">
          <p class="title"><strong>Engineering Technologist</strong></p>
        </div>
          <div class="column">
          <p id="welcometext">With close to 20 years experience in technology. Skilled at developing and formulating a strategy around a business outcome, hands on implementation of solutions as well as growing and leading teams to 
            deliver on a vision.</p>
        </div>
      </div>
    </div>
    <div class="columns pd">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title">Knowing is not enough we must apply. Willing is not enough we must do.</p>
            <p class="subtitle has-text-right">- Bruce Lee</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title">Knowing is not enough we must apply. Willing is not enough we must do.</p>
            <p class="subtitle has-text-right">- Bruce Lee</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title">Knowing is not enough we must apply. Willing is not enough we must do.</p>
            <p class="subtitle has-text-right">- Bruce Lee</p>
          </div>
        </div>
      </div>
    </div>
  </section>